$color-light-prime: #F2CD5C;
$color-light-second: #F2921D;
$color-light-second-trans: rgba(242, 146, 29, 0.5);
$color-dark-prime: #A61F69;
$color-dark-second: #400E32;

@mixin box-shadow-dark {
  box-shadow: 0px 0px 12px 5px rgba(64, 14, 50, 0.75);
  -webkit-box-shadow: 0px 0px 12px 5px rgba(64, 14, 50, 0.75);
  -moz-box-shadow: 0px 0px 12px 5px rgba(64, 14, 50, 0.75);
}

* {
  box-sizing: border-box;
  color: $color-dark-second;
  padding: 0;
  margin: 0;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color-light-prime;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board {
  background-color: $color-dark-second;
  @include box-shadow-dark;
  width: 95vw;
  height: 95vh;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}

.component {
  background-color: $color-dark-prime;
  border-radius: 10px;

  & > div {
    background-color: $color-light-prime;
    border-radius: 10px;
  }
}

.upgrades {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;

  & > div {
    width: 150px;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
}

.main {
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 10px;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: gold;
    margin: 30px;
  }
}

.inventory {
  background-color: $color-dark-prime;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & > div {
      background-color: $color-light-prime;
      border-radius: 10px;
      width: 100px;
      height: 100px;
      padding: 10px;
    }
  }
}

.btn-small {
  background-color: $color-light-second-trans;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $color-light-second;
  }
}

.btn-gold {
  background-color: $color-light-prime;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-weight: bold;

  &:hover {
    background-color: gold;
  }
}

.btn-gold-big {
  @extend .btn-gold;
  padding: 50px 15px;
  font-size: 2rem;
}

.price-label {
  display: flex;
  justify-content: center;
  padding: 30px;

  h2 {
    color: $color-light-prime;
    font-size: 1.5rem;
  }

  span {
    color: gold;
    font-size: 1.7rem;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.energy-bar {
  border: $color-dark-prime solid 2px;
  height: 50px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;

  & > div {
    background-color: $color-light-second;
    height: 100%;
    border-radius: 8px;
  }
}

.energy-error {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  bottom: 0;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}




